@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
#nav{
    top: 0; left: 0;
    position: fixed;
    margin: 0;
    padding: 0px;
    background: rgb(252, 247, 0);
    width: 100%;
    height: 100px;
}
#nav #logo{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: 3px;
    margin-left: 100px;
    color: rgb(51, 55, 56);
}
#nav li{
    display: inline-block; 
    padding: 0; 
}
#nav li a{
    text-decoration: none;
    color: rgb(51, 55, 56);
    font-size: 25px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 40px;
    font-family: "Twinkle Star", cursive;

}
#nav ul{
    margin-left: 1000px;
    margin-top: -91px;
}
#nav li :hover{
    background: rgb(51, 55, 56);
    color: rgb(15, 238, 108);
    transition:ease-in-out
}
#main{
    margin:0;
    padding:0;
    width: 100%;
    height: 800px;
}