<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
  <% if (!user) {%>
    <b style="font-family: arial">You aren't logged in. please <a href="/login">login</a></b>
    <% }else{ %>

  <nav class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter"><%= room %></h3>
      </div>
    </div>
  </div>
    <aside>
      <h2>Users</h2>
      <ul id="userul">
        <li></li>
      </ul>
    </aside>
    <section>
      <h2>Chat</h2>
      <ul id="chatul">
        
      </ul>
      <form>
        <input type="text" name="message" placeholder="Type your message here..." id="message">
        <button id="send" type="submit"  >
          <span class="material-icons" id="send">
            send
            </span>            
        </button>
      </form>
    </section>


    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  // selecting all the elements
  var message = document.getElementById('message');
  var send = document.getElementById('send');
  var chatul = document.getElementById('chatul');
  var userul = document.getElementById('userul');
  // adding the event
  send.addEventListener('click', (e)=>{
    // alert('clicked');
    e.preventDefault()
    if (message.value){
      socket.emit('chat message', {
        message: message.value
      });
      message.value = '';
  }
    // showing the message
  });
  socket.on('chat message', (data)=>{
    // alert('message received');
    var li = document.createElement('li');
    li.innerHTML = `${data[1]} : ${data[0].message}`;
    chatul.appendChild(li);
  });
  socket.on('roomData', (data)=>{
    // alert('users received');
    let {users} = data;
    // listing users
    userul.innerHTML = '';
    users.forEach(element => {
      var li = document.createElement('li');
      li.innerHTML = element.name;
      userul.appendChild(li);
    });

});
</script>
</body>
<% } %>
</html>