<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <nav>
          <h1>Room <%= room %></h1>
    </nav>
    <aside>
      <h2>Users</h2>
      <ul>
        <li></li>
      </ul>
    </aside>
    <section>
      <h2>Chat</h2>
      <ul id="chatul">
        <li></li>
      </ul>
    </section>
    <footer>
      <form>
        <input type="text" name="message" placeholder="Type your message here..." id="message">
        <input type="submit" value="Send" id="send">
      </form>

    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body> 
</html>