@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#nav{
    top: 0; left: 0;
    position: fixed;
    margin: 0;
    padding: 0px;
    background: rgb(252, 247, 0);
    width: 100%;
    height: 100px;
}
#nav #logo{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: 3px;
    margin-left: 100px;
    color: rgb(51, 55, 56);
}
#nav li{
    display: inline-block; 
    padding: 0; 
}
#nav li a{
    text-decoration: none;
    color: rgb(51, 55, 56);
    font-size: 23px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 40px;
    font-family: "Twinkle Star", cursive;

}
#nav ul{
    margin-left: 1000px;
    margin-top: -91px;
}
#nav li :hover{
    background: rgb(51, 55, 56);
    color: rgb(15, 238, 108);
    transition:ease-in-out
}
#main{
    padding:0;
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
    height: 650px;

    position: relative;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 100px;
    background: #312F31;
}
#footer #foot_title{
    position: absolute;
    width: 576px;
    height: 88px;
    left: 30px;
    top: -20px;
    font-family: "Pacifico" , cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 88px;
    color: #FFFFFF;
}
#footer li{
    position:relative;
    display: inline-block; 
    padding: 0; 
    left:400px
}
#footer li a{
    text-decoration: none;
    color: rgb(203, 204, 204);
    font-size: 26px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 40px;
    font-family: "Twinkle Star", cursive;
}
#footer li :hover{
    color: rgb(15, 238, 108);
    transition:ease-in-out
}
#signup{
    background-color: rgb(255, 255, 255);
    width:500px;
    height: 350px;
    position: absolute;
    top:50px;
    left : 370px;
    border:solid 1px black;
    border-radius: 50px;
}
input{
    width:300px;
    height:30px;
    border-radius: 5px;
    margin-top:50px;
    margin-left:30px;
    border:solid 1px black;
}
input:focus{
    outline: none;
}
input:active{
    border: solid 1.5px gold
}
#sumbit{
    padding:10px;
    background-color: rgb(222, 87, 226);
    border: 1px black solid;
    border-radius: 5px;
    margin-top:50px;
    margin-left:30px;
    color: white;
    font-size: 20px;
}
.alert {
    padding: 20px;
    background-color: #d14b42;
    color: white;
    position: relative;
    top: 120px;
    left:30px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}